<div class="row">
  <div class="col">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group">
      <button type="button"
              class="btn btn-primary dropdown-toggle" id="buttonDropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="buttonDropdown">
        <button class="dropdown-item" href="#">Add</button>
        <button class="dropdown-item" href="#">Edit</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" href="#">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    Description
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
